*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/012/484/301/non_2x/pixel-cityscape-8-bit-pixel-art-game-landscape-vector.jpg');
  background-position: cover;
  background-position: bottom;
  background-position: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  position: absolute;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%)
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
@media only screen and (max-width: 600px) {
  body {
    background-image: url('./imgs/city-phone.png');
    background-size: cover;
    background-attachment: fixed;
  }
}